.bar {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  padding: 69px 199px;
  border-radius: 20px;
  border: 2px solid #e0e0e0;
  background: #fff;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
