.adduser {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  border-radius: 20px;
  border: 2px solid #e0e0e0;
  background: #fff;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .control {
      align-self: center;
      padding: 12.8px;
      background-color: #f2f2f2;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h2 {
      color: #858585;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Figtree;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }
}
