.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  border-radius: 20px;
  background: linear-gradient(180deg, #4285f4 0%, #3c83f9 100%);
  color: #fff;
  padding-left: 50px;
  padding-right: 77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;

    .logo {
      color: #fff;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 700;
    }
  }

  .center {
    flex: 2;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        margin-bottom: 40px;

        .icon {
          width: 18px;
          height: 18px;
        }

        span {
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 400;
          margin-left: 20px;

          &:hover {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .bottom {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;

    p {
      margin-bottom: 20px;
    }
  }
}
